.a {
	background: #111;
	color: #000;
}

.b {
	background: #222;
	color: #111;
}

.c, .d {
	color: #000;
}

.parent .child {
	color: blue;
}

.parent  .child2 {
	color: blue;
}

.cat.blue {
	color: blue;
}

@media (min-width: 768px){
	body .container{width:748px !important}
}

@media (min-width: 768px){
	.bx { color: blue;}
}
